ul,
li,
h1,
h2,
h3,
h4,
p,
a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo .logo-dark {
  color: #000000;
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
  margin-right: 50px;
}

.navigation-list-link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.addres {
  margin-left: auto;
}

.addres-list {
  display: flex;
}

.addres-list-item {
  margin-left: 30px;
}

.addres-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-list-link:hover, .addres-list-link:focus {
  color: #2196f3;
}

.addres-icon {
  margin-right: 10px;
  fill: currentColor;
}

.navigation-list-item.current a {
  position: relative;
  color: #2196f3;
}

.navigation-list-item.current a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: -1px;
  left: 0;
}

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  flex-direction: column;
}

.hero-header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
  background: #188ce8;
}

.skills {
  padding: 94px 0;
}

.skills-list {
  display: flex;
}

.skills-item:not(:last-child) {
  margin-right: 30px;
}

.skills-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.skills-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.skills-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  padding-bottom: 94px;
}
.work .container {
  display: block;
}

.work-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-thumb {
  position: relative;
}

.work-list-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.work-img {
  display: block;
  max-width: 100%;
}

.team {
  background: #f5f4fa;
  padding: 94px 0;
}
.team .container {
  display: block;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  display: block;
  margin-bottom: 30px;
  max-width: 100%;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.card-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients {
  padding: 94px 0;
}
.clients .container {
  display: block;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: #2196f3;
}

.clients-icon {
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer .container {
  justify-content: space-between;
}
.footer .social-icon {
  fill: #ffffff;
}
.footer .logo {
  margin-bottom: 20px;
}

.logo-light {
  color: #ffffff;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item-link[href^="https://"] {
  color: #ffffff;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form {
  display: flex;
}

.footer-form-input {
  padding: 15px;
  width: 358px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

.footer-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

.portfolio {
  padding: 94px 0;
}
.portfolio .container {
  display: block;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item-btn {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item-btn:hover, .filter-item-btn:active, .filter-item-btn:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-title {
  margin-bottom: 4px;
  padding: 0 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  padding: 0 24px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-item {
  outline: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
}

.portfolio-item a {
  outline: none;
}
.portfolio-item a:hover, .portfolio-item a:active, .portfolio-item a:focus {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item a:hover .portfolio-list-overlay, .portfolio-item a:focus .portfolio-list-overlay, .portfolio-item a:active .portfolio-list-overlay {
  transform: translateY(0);
}

.portfolio-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.portfolio-list-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.portfolio-list-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
}

.backdrop .modal {
  position: absolute;
  width: 528px;
  padding: 40px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1.5);
}

.modal .modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-btn:hover {
  fill: #2196f3;
}

/* form in modal */
.modal-title {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  padding: 12px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-input.comment {
  padding: 16px;
  resize: none;
  max-height: 120px;
}

.form-input.comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon,
.form-icon:hover {
  fill: #2196f3;
}

.form-wrapper-check-box {
  position: relative;
  max-width: 425px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

.check-hidden {
  appearance: none;
}

.policy-link {
  display: inline;
  color: #2196f3;
  text-decoration: underline;
}

.check-box-label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}

.check-box {
  position: absolute;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.check:checked ~ .check-box {
  background: url(../icon/check.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid #2196f3;
  border-radius: 2px;
  background-color: #2196f3;
}

.form-btn {
  padding: 10px 55px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-btn:hover, .form-btn:focus {
  background: #188ce8;
}

.social-list,
.footer-social-list {
  display: flex;
  justify-content: center;
}
.social-list :not(:last-child),
.footer-social-list :not(:last-child) {
  margin-right: 10px;
}

.footer-social-list .social-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-list .social-icon {
  fill: #ffffff;
}

.social-item a:hover, .social-item a:focus {
  background-color: #2196f3;
}
.social-item a:hover .social-icon, .social-item a:focus .social-icon {
  fill: #ffffff;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-title, .team-title, .clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hero-button, .footer-btn, .form-btn {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

/*# sourceMappingURL=file:///d:/HTML_Files/goit-markup-hw-07/css/main.css.map *//*# sourceMappingURL=main.css.map */